section{
    height: 100vh;
    scroll-behavior: smooth;
}
#home{
    background-color: yellow;
    color: black;
}
.home-page{
 position: absolute;
 top:320px;
 left: 550px;
}
.home-to{
 position: relative;
 left: 70px;
}
.home-home-page{
 position: relative;
 right: 12px;
}
